.order-container{
    margin:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border:1px solid rgba(0,0,0,0.4);
    padding:15px;
}

.order-container h5{
    font-weight: bold;
    color:orange;
}

.orders-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.order-items{
    display: flex;
    flex-direction: row;
    margin-right:10px;
    font-size:12px;
}

.order-number p{
    font-size:12px;
    margin-bottom:20px;
}

#order-h4{
    padding:20px;
    padding-bottom:0px;
    color:orange;
}

.order-items i{
    margin:4px 5px 0px 5px;
    color:rgba(0,0,0,0.6);
    font-size:8px;
}

.order-items p{
    white-space: nowrap;
}

.order-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.left-tab ,  .right-tab{
    font-size:12px;
}

.confirmed-order{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-tick{
    border:4px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    padding:40px;
}

#done{
    font-size:72px;
    color: rgba(0,0,0,0.3);
    color: orange;
}

#clock{
    font-size:208px;
    color: rgba(0,0,0,0.3);
    color: orange;
}

#waiting{
    font-size:208px;
    color: rgba(0,0,0,0.3);
    color: orange;
}

.orders-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.orders-rating i{
    margin-right:10px;
    font-size:24px;
    color: rgba(0,0,0,0.3);
}

.order-st{
    text-align: center;
    margin-bottom:40px;
}

.empty-orders{
    display: flex;
    flex-direction: column;
    height:80vh;
    width:100vw;
    align-items: center;
    justify-content: center;
}

.empty-orders h4{
    color:rgba(0,0,0,0.6);
}

.empty-orders i{
    font-size:128px;
    color:orange;
    margin-bottom:40px;
}