.menu-item{
    border-bottom:1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width:100%;
    padding:10px;
    font-family: 'Oswald', sans-serif;
}

h4{
    color:orange;
    padding:5px 18px 0px 18px;

}

.left-menu{
    flex:6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-menu{
    flex:2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:15px;
}

.middle-menu{
    flex:2.5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lower-left-menu{
    display: flex;
    flex-direction: row;
    font-size:12px;
}

.lower-right-menu{
    display: flex;
    flex-direction: row;
    
}

.food-type-logo{
    font-size:7px;
    height:12px;
    width:12px;
    margin-right:8px;
    margin-top:2px;
}

.food-type-logo i{
    margin-left:0.220em;
}

.food-name{
    color:#737373;
    margin-bottom:0px;
    font-size:14px;
    margin-top:10px;
    margin-bottom:5px;
    margin-left:-2px;
}

.lower-menu{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom:5px;
}

.menu-item img{
    height:75px;
    width:75px;
    border:1px solid rgba(0,0,0,0.1);
}

.set-qty{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top:0px;
    width:80px;
    
}

.set-qty button{
    outline:none;
    border-radius:0px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    width:20px;
    height:25px;
    border-top:1px solid rgb(0, 153, 51);
    border-bottom:1px solid rgb(0, 153, 51);
    cursor: pointer;
    background:white;
}

.left-btn{
    border-left:1px solid rgb(0, 153, 51) !important;
}

.right-btn{
    border-right:1px solid rgb(0, 153, 51) !important;
}

.set-qty button i{
    font-size:10px;
    margin-top:-1px;
    color:rgb(0, 153, 51);
    background:white;
}

.set-qty input{
    text-align: center;
    font-size:12px;
    border-radius:0%;
    width:20px;
    height:25px;
    border:none;
    border-top:1px solid rgb(0, 153, 51);
    border-bottom:1px solid rgb(0, 153, 51);
    color:rgb(0, 153, 51);
}


.add-food button{
    border-radius:0px;
    width:100%;
    width:70px;
    margin-left:10px;
    height:25px;
    padding:0px;
    border:1px solid rgb(0, 153, 51);
    color:rgb(0, 153, 51);
    font-size:12px;
    background:white;
    cursor: pointer;
}

.add-food i{
    color:rgb(0, 153, 51);
    background:white;
}

.food-attr{
    display: flex;
    flex-direction: row;
    color:orange;
    font-size: 11px;
}

.food-attr i{
    margin-right:2px;
}

.veg{
    color:#009933;
    border:1px solid #009933;
}

.non-veg{
    color:#993333;
    border:1px solid #993333;
}

.food-type{
    font-size:11px;
    color:#a6a6a6;
}


#search-foods{
    display: flex;
    flex-direction: row;
    padding:20px;
    padding-top:5px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

#search-foods input{
    height:30px;
    border-radius: 0px;
    border-left:0px;
    border-right:0px;
    font-size:10px;
    outline:none !important;
}

#search-foods button{
    height:30px;
    border-radius: 0px;
    padding:8px;
    padding-top:2px;
    font-size:14px;
    color:#737373;
    border:none;
    border:1px solid rgba(0,0,0,0.2);
}


.btn:focus,.btn:active,.form-control {
    outline: none !important;
    border:1px solid rgba(0,0,0,0.2);
}

::placeholder{
    letter-spacing: 0.05em;

}

.spacer-dot{
    font-size:3px;
    padding:0px;
    padding-top:5px;
    margin:0px 8px 0px 9px;
}

.fa-plus{
    font-size:9px;
}
